<link rel="stylesheet" href="/stylesheets/pages/admin/form-style.css">

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card d-flex flex-column justify-content-center">
            <div class="card-body d-flex justify-content-center ">
                <div class="contact1-form validate-form" style="width: 1000px;">
                    <span class="contact1-form-title">
                        Thông tin thành viên
                    </span>
                    <form action = "/admin/member/edit" method="POST">
                    <input type="hidden" name="IdThanhVien" value="{{thanhvien.IdThanhVien}}">
                    <input type="hidden" name="TheTinDung" value="{{thanhvien.TheTinDung}}">
                    <input type="hidden" name="IdKhachHang" value="{{thanhvien.IdKhachHang}}">
                    <div class="row" >
                         <div class="col"> 
                            <span><i class="far fa-user-circle" style="margin-right: 5px;"></i>Tài khoản</span>
                            <div class="wrap-input1 validate-input">
                                <input class="input1" type="text" value="{{thanhvien.TaiKhoan}}" readonly="readonly" >
                                <span class="shadow-input1"></span>
                            </div>
                        </div>
                        <div class="col">
                            <span><i class="fas fa-coins" style="margin-right: 5px;"></i>Điểm thưởng</span>
                            <div class="wrap-input1 validate-input" >   
                                <input class="input1" type="text"  name = "DiemThuong" value="{{thanhvien.DiemThuong}}" >
                                <span class="shadow-input1"></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <span><i class="fas fa-signature" style="margin-right: 5px;"></i>Họ tên</span>
                            <div class="wrap-input1 validate-input" >   
                                <input class="input1" type="text"  name="HoTen" value="{{thanhvien.HoTen}}" >
                                <span class="shadow-input1"></span>
                            </div>
                        </div>
                        <div class="col"> 
                            <span><i class="far fa-envelope" style="margin-right: 5px;"></i>Email</span>
                            <div class="wrap-input1 validate-input">
                                <input class="input1" type="email" name="Email" value="{{thanhvien.Email}}" >
                                <span class="shadow-input1"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col">
                            <span><i class="fas fa-phone" style="margin-right: 5px;"></i>SĐT</span>
                            <div class="wrap-input1 validate-input">
                                <input class="input1" type="text" name="SDT" value="{{thanhvien.SDT}}" >
                                <span class="shadow-input1"></span>
                            </div>
                        </div>
                        <div class="col">
                            <span><i class="fas fa-venus-mars" style="margin-right: 5px;"></i>Giới tính:</span>
                            <div class="wrap-input1 validate-input" style="width: 270px;">
                                <select class="input1 select-search-fk " aria-placeholder="Giới tính" name="GioiTinh">
                                    <option value="1" {{isSelected this.GioiTinh 1}}>Nam</option>
                                    <option value="0" {{isSelected this.GioiTinh 0}}>Nữ</option>
                                </select>
                                <span class="shadow-input1"></span>
                            </div>
                        </div>
                    </div>
                    
                    <hr>
                    <span class="contact1-form-title" >
                        Thông tin thẻ tín dụng
                    </span>
                    <div class="row">
                        <div class="col">
                            <span><i class="far fa-id-badge" style="margin-right: 5px;"></i>Số hiệu thẻ:</span>
                            <div class="wrap-input1 validate-input">
                                <input class="input1" type="text" value="{{thanhvien.SoHieuThe}}" name="SoHieuThe">
                                <span class="shadow-input1"></span>
                            </div>
                        </div>
                        <div class="col">
                            <span><i class="fas fa-signature" style="margin-right: 5px;"></i>Họ tên</span>
                            <div class="wrap-input1 validate-input" >   
                                <input class="input1" type="text"  value="{{thanhvien.TenChuThe}}" name="TenChuThe">
                                <span class="shadow-input1"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row" >
                        <div class="col">
                            <span><i class="fas fa-pencil-alt" style="margin-right: 5px;"></i>Mã CSC</span>
                            <div class="wrap-input1 validate-input">
                                <input class="input1" type="text" value="{{thanhvien.CSC}}" name="CSC">
                                <span class="shadow-input1"></span>
                            </div>
                        </div>
                        <div class="col">
                            <span><i class="far fa-calendar-alt" style="margin-right: 5px;"></i>Ngày hết hạn</span>
                            <div class="wrap-input1 validate-input">
                                <input class="input1" type="date" value="{{thanhvien.NgayHetHan}}" name="NgayHetHan">
                                <span class="shadow-input1"></span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    
                     <div class="container-contact1-form-btn">
                            <button class="contact1-form-btn" type="submit">
                            <span>
                                Cập nhật
                                <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            </span>
                            </button>
                    </div>
                    </form>
                      
                </div>
            </div>
            </div>
        </div>
    </div>
</div>



