<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <div style="display: flex;justify-content: space-between;align-items: baseline;">
                    <h3 class="card-title">Danh sách Thành viên</h3>
                    <a class="btn btn-secondary" href="/admin/member/add/">Thêm thành viên</a>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                        <div id="order-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <div class="row">
                            <div class="col-sm-12">
                            <table id="order-listing" class="table dataTable no-footer" role="grid" aria-describedby="order-listing_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 63px;font-weight: bold;" aria-sort="ascending" >#</th>
                                    <th  class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 79px;font-weight: bold;" >Tài khoản</th>
                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 54px;font-weight: bold;" >Điểm thưởng</th>                            
                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 100px;font-weight: bold;" >Chi tiết</th>
                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 100px;font-weight: bold;" >Công cụ</th>
                                </tr>
                                </thead>
                            <tbody>
                                {{#each list}}
                                    <tr role="row" >
                                        <td class="sorting_1">{{this.IdThanhVien}}</td>           
                                        <td>{{this.TaiKhoan}}</td>
                                        <td>{{this.DiemThuong}}</td>
                                        
                                        <td>
                                            <a class="badge badge-info" href="/admin/member/{{this.IdThanhVien}}/detail/" style="font-weight: bold;font-size:13px;">Xem</a>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-cog"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    {{!-- <a class="dropdown-item" href="/admin/member/{{this.IdThanhVien}}/detail/">Xem chi tiết</a> --}}
                                                    <a class="dropdown-item" href="/admin/member/{{this.IdThanhVien}}/edit/">Chỉnh sửa</a>
                                                    <div class="dropdown-divider"></div>
                                                    <form  action="/admin/member/delete" method="POST">
                                                        <input type="hidden" value="{{this.IdThanhVien}}" name = "IdThanhVien">
                                                        <button class="dropdown-item" type="submit">Xóa</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        </div>
                    </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
