
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <form class=" d-flex justify-content-center" action="/admin/member/search/" method="POST">
                    <select class="custom-select select-search-fk" disabled>
                        <option value="tk"  selected>Tài khoản</option>
                    </select>    
                    <input type="text" name="Keyword" class="form-control input-search-fk" placeholder="Keyword...">
                    <button class=" btn-search-fk btn btn-success" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <br>
                
                {{#if result}}
                    <h5>Kết quả</h5>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                            <div id="order-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                <div class="row">
                                <div class="col-sm-12">
                                    <table id="order-listing" class="table dataTable no-footer" role="grid" aria-describedby="order-listing_info">
                                <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 63px;font-weight: bold;" aria-sort="ascending" >#</th>
                                    <th  class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 79px;font-weight: bold;" >Tài khoản</th>
                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 54px;font-weight: bold;" >Điểm thưởng</th>                            
                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 100px;font-weight: bold;" >Chi tiết</th>
                                    <th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" style="width: 100px;font-weight: bold;" >Công cụ</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {{#each list}}
                                        <tr role="row" >
                                            <td class="sorting_1">{{this.IdThanhVien}}</td>           
                                            <td>{{this.TaiKhoan}}</td>
                                            <td>{{this.DiemThuong}}</td>
                                            
                                            <td>
                                                <a class="badge badge-info" href="/admin/member/{{this.IdThanhVien}}/detail/" style="font-weight: bold;font-size:13px;">Xem</a>
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-cog"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        {{!-- <a class="dropdown-item" href="/admin/member/{{this.IdThanhVien}}/detail/">Xem chi tiết</a> --}}
                                                        <a class="dropdown-item" href="/admin/member/{{this.IdThanhVien}}/edit/">Chỉnh sửa</a>
                                                        <a class="dropdown-item" href="#">Xóa</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            </div>
                        </div>
                        </div>
                            </div>
                        </div>
                    </div>
                {{else}}
                    {{#if empty}}
                        <div class="d-flex justify-content-center">
                            <div class="alert alert-info bd30" role="alert" style="text-align: center;width:400px;">
                                <i class="fas fa-exclamation-circle"></i>Kết qủa tìm kiếm rỗng.
                            </div> 
                        </div>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
